.navbar {
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  box-shadow: none;
}
.navbar-brand {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 30px;
  padding-left: 170px;
  font-weight: 600;
}

.navbar-collapse {
  padding-right: 30px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
}
ul a:hover {
  color: white !important;
}
nav li {
  text-align: center;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
}
li > a:after {
  content: '';
  display: block;
  height: 1.5px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.3s;
}
li > a:hover:after {
  transform: scaleX(1);
  transition: transform 0.3s;
}
.active {
  color: white !important;
}

p {
  line-height: 2rem;
  text-align: center;
}

h7 {
  text-align: center;
}

h5 {
  font-family: 'Nothing You Could Do', cursive;
}

h4 {
  font-family: 'Nothing You Could Do', cursive;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

body {
  background-color: #f9f9fa;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}

.btn.btn-social-icon {
  width: 50px;
  height: 50px;
  padding: 0;
}

.btn.btn-rounded {
  border-radius: 50px;
  padding: 8px;
}

.btn-facebook {
  background: #3b579d;
  color: #ffffff;
}

.btn-youtube {
  background: #e52d27;
  color: #ffffff;
}

.btn-twitter {
  background: #2caae1;
  color: #ffffff;
}

.btn-dribbble {
  background: #ea4c89;
  color: #ffffff;
}

.btn-linkedin {
  background: #0177b5;
  color: #ffffff;
}

.btn-instagram {
  background: #dc4a38;
  color: #ffffff;
}

.btn-facebook:hover,
.btn-facebook:focus {
  background: #2d4278;
  color: #ffffff;
}

.btn-youtube:hover,
.btn-youtube:focus {
  background: #c21d17;
  color: #ffffff;
}

.btn-twitter:hover,
.btn-twitter:focus {
  background: #1b8dbf;
  color: #ffffff;
}

.btn-dribbble:hover,
.btn-dribbble:focus {
  background: #e51e6b;
  color: #ffffff;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
  background: #015682;
  color: #ffffff;
}

.btn-instagram:hover,
.btn-instagram:focus {
  background: #bf3322;
  color: #ffffff;
}

.template-demo {
  text-align: center;
  padding: 5px;
}

.top-scroller {
  position: fixed;
  bottom: 100px;
  right: 10px;
  font-size: 1em;
  display: none;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  line-height: 40px;
  margin-right: 30px;
}

.top-scroller:hover {
  background: rgba(0, 0, 0, 0.6);
}
