/* NAVBAR LOGO */
.navbar-brand {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 30px;
  font-weight: 600;
}

/* NAVBAR LINKS */
nav li {
  text-align: center;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
}

/* LINE WHEN HOVERING OVER NAV LINKS */
li > a:after {
  content: '';
  display: block;
  height: 1.5px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.3s;
}
li > a:hover:after {
  transform: scaleX(1);
  transition: transform 0.3s;
}

/* PARAGRAPHS */
p {
  line-height: 2rem;
  text-align: center;
}

/* SMALLER HEADINGS */
h2,
h1 {
  color: #5c8270;
  font-family: 'Nothing You Could Do', cursive;
  text-align: center;
}

/* SOCIAL MEDIA ICONS IN FOOTER */
.btn.btn-social-icon {
  width: 50px;
  height: 50px;
  padding: 0;
}
.btn.btn-rounded {
  border-radius: 50px;
  padding: 8px;
}
.btn-facebook {
  background: #3b579d;
  color: #ffffff;
}
.btn-youtube {
  background: #e52d27;
  color: #ffffff;
}
.btn-twitter {
  background: #2caae1;
  color: #ffffff;
}
.btn-instagram {
  background: #dc4a38;
  color: #ffffff;
}
.btn-facebook:hover,
.btn-facebook:focus {
  background: #2d4278;
  color: #ffffff;
}
.btn-youtube:hover,
.btn-youtube:focus {
  background: #c21d17;
  color: #ffffff;
}
.btn-twitter:hover,
.btn-twitter:focus {
  background: #1b8dbf;
  color: #ffffff;
}
.btn-dribbble:hover,
.btn-dribbble:focus {
  background: #e51e6b;
  color: #ffffff;
}
.btn-linkedin:hover,
.btn-linkedin:focus {
  background: #015682;
  color: #ffffff;
}
.btn-instagram:hover,
.btn-instagram:focus {
  background: #bf3322;
  color: #ffffff;
}

.footer {
  text-align: center;
  padding: 5px;
}

#aboutus,
#welcomeHome {
  padding: 30px;
}

/* layout */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

/* Parallax Styles */
.parallax-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0%;
  display: flex;
  background-image: url('img/carousel1.jpg');
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0px);
  object-fit: cover;
  min-height: 800px;
}

#parallax1 {
  background: url('/img/carousel1.jpg') no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 800px;
}

#parallax2 {
  background: url('/img/carousel2.jpg') no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}

#parallax3 {
  background: url('/img/carousel3.jpg') no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}

.foreground {
  margin-top: auto;
  margin-bottom: 50px;
  transform-origin: 0;
  transform: translateZ(3px) scale(0.625);
}
